@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');


body {
	overflow-x: hidden;
	font-family: 'Cairo', sans-serif;
}
.body img{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/*--- Nav Scrolling Offset --*/
.offset:before {
	height: 62px;
	margin-top: -62px;
	content: "";
	display: block;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
	padding: 1rem;
}

/*============= NAVIGATION =============*/

.navbar {
	padding: .6rem 1rem;
	text-transform: uppercase;
	font-size: .9rem;
	font-weight: 700;
	background-color: #044679;
}
.navbar-brand img {
	height: 3rem;
}
.navbar-nav .nav-link{
    color:white;
    padding-top: .8rem;
}
.navbar-nav .nav-link .active,
.navbar-nav .nav-link:hover{
	color:#dbb505;
}
.svg-inline--fa.fa-w-14 {
	color: white;
	font-size: 1.6rem;
}
.navbar-nav li {
	padding-right: .8rem;
}
.bar-mobil{
visibility: hidden;
display: none;
}
.bar-desk{
	visibility:visible;
	display: block;
	}
@media (max-width: 768px){
	.bar-mobil{
		visibility:visible;
		display: block;
		text-align: right;
		}
		.bar-desk{
			visibility:hidden;
			display: none;
			}
}
/*============= LANDING PAGE =============*/

.home-inner {
	background-image: url("../img/landing.png");
}
.caption {
	width: 100%;
	max-width: 100%;
	top: 70%;
	position: absolute;
	z-index: 1;
}

.caption h3 {
	color: #ffffff;
	font-size: 2.4rem;
    font-weight:bold;
	text-transform: uppercase;
	padding-top: 1rem;
	padding-bottom: .8rem;
}
.caption h4 {
	color: #ffffff;
    font-weight:bold;
	padding-bottom: .8rem;
}
.btn {
	border-width: medium;
	padding: .5rem 1.1rem;
	font-size: .9rem;
	text-align: right;
    
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
	bottom: 3rem;
	z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
	height: 32rem;
	background-color: #777;
  }
  .carousel-item h1{
  color: #000;
  }
  .carousel-item > img {
	object-fit: contain;
	background-position: center;
	background-repeat: no-repeat;
  }
  
  

/* Featurettes
------------------------- */

.featurette-divider {
	margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: -.05rem;
	text-align: right;
  }
  .lead{
	text-align: right; 
  }
  .featurette a{
	text-align: right; 
  }
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
	/* Bump up size of carousel content */
	.carousel-caption p {
	  margin-bottom: 1.25rem;
	  font-size: 1.25rem;
	  line-height: 1.4;
	}
  
	.featurette-heading {
	  font-size: 50px;
	}
  }
  
  @media (min-width: 62em) {
	.featurette-heading {
	  margin-top: 7rem;
	}
  }
  
/*============= Portfolto SECTION =============*/

.Portfolto{
    background-color: #ffffff;
	margin-bottom: 0;
	border-radius: 0;
	padding: 3rem 0 3rem;
}
.subline{
    color:#51534a;
    font-size: 1.2rem;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}
.card {
	margin: 0 1rem;
	border-radius: 0;
}
.card-img-top {
	border-radius: 0;
}
.card h4 {
	font-weight: 700;
}
.card h5 {
	color: #044679;
}
.card p {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
}
.if-you-line{
    padding-top:1rem;
    padding-bottom: 1rem;
	color:#51534a;
    font-size: 1rem;
	font-weight: 500;
    text-align: center;
	text-transform: uppercase;
}
.see-more-btn{
	text-align: center;
	text-transform:capitalize;

}
/*============= Portfolto Content SECTION =============*/
.Portfolto-Content {
    padding-top: 7rem;
    padding-bottom: 6rem;
}
.content {
    margin: 0 1rem;
    border-radius: 0;
}

.content h4 {
    text-align:left;
    font-weight: 700;
}
.content h5 {
    color: #d52a46;
}
.content h6 {
    text-align: left;
    padding-top:0.2rem;
    padding-bottom:0.2rem;
}
.content p {
        text-align:justify;
        
    }
.content-body {
    text-align:justify;
    padding-top:3rem;
    padding-bottom:3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-Go-back{
    text-align: center;
	text-transform:capitalize;
    padding-top:3rem;
}
/*============= ABOUT SECTION =============*/
.jumbotron {
    background-color: #dce1e3;
    margin-bottom: 0;
    border-radius: 0;
    padding: 13rem 0 13rem;
}
.narrow {
	width: 85%;
	margin: 0 auto;
	padding-top: 1rem;
}
h3.heading {
	font-size: 1.9rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1.9rem;
}
.heading-underline {
	width: 10rem;
	height: .2rem;
	background-color: #dbb505;
	margin: 0 auto 2rem;
}
.about img{
 padding: 2rem;
}
.about h3 {
	font-size: 1.4rem;
	text-transform: uppercase;
	padding-bottom: .4rem;
}
.about h5{
	text-align:left;
}
.about p {
	font-size: 1.1rem;
	text-align: left;
}
/*============= Card SECTION =============*/
.card-header {
	
	background-color:#044679;
}
.card-header:hover{
	background-color:#dbb505;
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

.card-header h4{
	color: #fff;
	text-align: right;
	text-decoration: none;
}
.icon{
	margin-left: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	align-items: center;
	color:#044679;
	background-color:#fff;
}
.card{
	background-color:transparent;
}
.card-image{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/about.jpg);
}
.Card-body  {
	color: white;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.726)!important;
}

.collapse p{
	text-align: right;
	margin-right: 1rem;
	text-decoration: none;
}
.collapse ul{
	padding-right: 2.5rem;
}
  .bullets {
	text-align: right;
	list-style-type: square;
	direction: rtl;
	margin-right: 1rem;
  }
/*============= Footer SECTION =============*/

.footer .row {
	background-color: rgba(35, 35, 39);
	padding: .8rem .8rem .8rem;
	color: white;

}
.footer img {
	height: 3rem;
	margin: 1.5rem 0;
}

.footer-copyright{
	color: white;
	background-color:#044679;
}
.footer-copyright a{
	color: #dbb505;
}

.social:hover {
	-webkit-transform: scale(2.5);
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
}
.social {
	-webkit-transform: scale(1.8);
	/* Browser Variations: */	
	-moz-transform: scale(1.8);
	-o-transform: scale(1.8);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;

	margin-left: 2rem;
}

/*
   Multicoloured Hover Variations
*/

#social-fb:hover {
	color: rgb(46, 102, 224);
}
#social-tw:hover {
	color: #4099FF;
}
#social-int:hover {
	color: #d63255;
}
#social-yo:hover {
	color: #e42c2c;
}
#social-em:hover {
	color: #f39c12;
}
#social-em{
	margin-right: 3rem;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
